@import 'colors';

body {
  background: @dark-blue;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  color: @transparent-white-primary;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.main-section,
.attribution {
  margin-top: 10%;
}

.card {
  background: @desaturated-blue;
  max-width: 80%;
  max-height: 320px;
  margin: auto;
  border-radius: 0.5em;
  overflow: hidden;
}

.card, .stats-container,
.stats-item {
  display: flex;
}

.header-text {
  color: @white;
}

.header-text, .stats-value {
  font-weight: 700;
}

.header-text span {
    color: @soft-violet;
}

.info-wrapper {
  padding: 1rem 3rem 3rem 2rem;
}

.image-wrapper {
  width: 100%;
  background-color: @soft-violet;
  img {
    width: 100%;
    mix-blend-mode: multiply;
  }
}

.header-text, .p-text,
.stats-container {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1.3rem;
}

.p-text, .stats-text {
  font-weight: 400;
  font-size: 0.89rem;
  color: @transparent-white-secondary;
}

.stats-container {
  flex-direction: row;
  margin-top: 4rem;
  max-width: 80%;
  justify-content: space-between;
}

.stats-item {
  flex-direction: column;
}

.stats-value {
  font-size: large;
  color: @transparent-white-primary;
}

#image-mobile {
  display: none;
}

#image-desktop {
  display: block;
}

@media only screen and (max-width: 599px) {
  .main-section {
    margin-top: 20%;
  }

  #image-mobile {
    display: block;
  }

  #image-desktop {
    display: none;
  }

  .card {
    flex-direction: column-reverse;
    max-height: fit-content;
  }

  .info-wrapper {
    padding: 1rem;
  }

  .header-text {
    font-size: x-large;
    text-align: center;
  }

  .p-text {
    text-align: center;
    font-size: 0.9375rem;
    color: @transparent-white-primary;
  }

  .stats-container {
    flex-direction: column;
    max-width: 100%;
    margin-top: 2rem;
  }

  .stats-item {
    align-items: center;
    margin-bottom: 25px;
  }
}

